export SLACK_BOT_TOKEN="$(bo show credential concourse-main boclips.terry slack-bot-token)"
export AWS_ACCESS_KEY="$(bo show credential testing terry AWS_ACCESS_KEY)"
export AWS_SECRET_KEY="$(bo show credential testing terry AWS_SECRET_KEY)"
